*{
	margin:0;
	padding:0;
}

body {
background:#F6FCED;
}

header{
	width:95%;
	max-width:1200px;
	margin:1% auto 0 auto;
}
.prencabezado{
	width:95%;
	max-width:670px;
	height:24%;
	margin:auto;
	padding:0;
	display:block;
	min-height:200px
}
.biblioteca{
	width:22%;
	min-width:140px;
	float:left;
	margin:5% 0 0 0;
	background:#FFFFFF;
	border:1px solid;
	border-color:green;
	border-radius:50%;
	
}
.blog{
	width:18%;
	min-width:100px;
	float:right;
	margin:0 5% 0 0;
	background:#FFFFFF;
	border:1px solid;
	border-color:green;;
	border-radius:50%;
	
}
.encabezado{
	width:65%;
	max-width:800px;
	height:36%;
	margin:auto;
	padding:0;
	display:block;
	min-height:220px
}
.logo{
	width:29%;
	min-width:150px;
	display:block;
	margin:auto auto;
	border:1px solid;
	border-color:black;
	border-radius:50%;
	opacity:0.7;
	background:#B3DF96;
}
.postcabezado{
	width:95%;
	max-width:670px;
	height:23%;
	margin:auto;
	padding:0;
	display:block;
}
.servicios{
	width:19%;
	min-width:100px;
	margin:0 0 0 10%;
	float:left;
	background:#FFFFFF;
	border:1px solid;
	border-color:green;
	border-radius:50%;
	
}
.editorial{
	width:27%;
	min-width:130px;
	float:right;
	background:#FFFFFF;
	border:1px solid;
	border-color:green;;
	border-radius:50%;
	
}
